assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
themes/classic/views/
/.svn
/api/web/wx_notify.txt
/admin/config/main-local.php
/admin/config/params-local.php
/admin/web/index.php
/.idea
/wine.php
/git.log
/gitConfig.php
/pull.sh
tests/runtime/*
/*.log
api/web/databaselog/*.sql

photo/*
phonto/logo/*
wx/web/logs/*.log
wx/web/log.log
admin/web/js/plugins/layui/*

admin/web/jpush.log
pc/runtime/debug/*
pc/runtime/logs/*
pc/runtime/cache/*
pc/runtime/*
pc/web/qczh/qqFace/
